@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca'
}

body {
	background-color: #F3F5F7;
}

header {
	display: flex;
	justify-content: center;
	background: linear-gradient(90deg, #574AE8, #3EA1DB);
	margin-bottom: 100px;
}

nav {
	display: flex;
	flex-direction: column;
	width: 900px;
	margin: 50px 20px 50px 20px;
}

nav div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

input {
	background-color: rgba(255, 255, 255, .3);
	padding: 20px;
	padding-left: 60px;
	border-radius: 10px;
	font-family: 'Inter';
	font-size: 18px;
	font-weight: 500;
	border: none;
	color: rgba(255, 255, 255, 0.8);
}

input:focus {
	outline: 1px solid rgba(255, 255, 255, 0.6);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
	margin-left: 30px;
}

button {
	background-image: url(icons/search.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	position: relative;
	bottom: 45px;
	left: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	background-color: #fff;
	max-width: 900px;
	height: auto;
	padding: 15px;
	margin: 0 20px 50px 20px;
}

.date-icon {
	display: flex;
	justify-content: space-between;
}

#heart-icon {
	fill: #574ae801;
	stroke: #574ae8;
	stroke-width: 7;
	transition: fill 0.3s;
	cursor: pointer;
}

#heart-icon.filled, #heart-icon:hover {
	fill: #574ae8;
}

span {
	color: #717171;
	margin-bottom: 20px;
}

p {
	font-weight: 400;
	font-size: 18px;
	color: #717171;
	line-height: 2rem;
}

h1, div p{
	font-weight: 400;
	font-size: 24px;
	color: #fff
}

h2 {
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 400;
}